---
layout: page_menu
title: About
position: 2
permalink: /about/
---

<div id="my-links">

	<p>Welcome to my website: I hope that it provides an interesting introduction to work and projects I have been involved with over the past few years. Whether using tactile or virtual media, I take pride in the craft of <em>making</em>. I enjoy expressing ideas in many different ways, often primarily visually. I also get satisfaction in creating <em>tools</em> to assist others in communicating their ideas. Much of the work I do is involved with information <em>in translation</em> - from digital to physical or through a numerical / optical lens.</p>

	<hr class="blueline" />

	<h3>Education</h3>

	<strong class="underline">Degrees &amp; Diplomas</strong>
	{% for cert in site.data.education %}
		{% if cert.type == 'major' %}
		<p>
			<em>{{ cert.year }}</em> <strong> {{ cert.title }} </strong><br />{{ cert.inst }}
		</p>
		{% endif %}
	{% endfor %}

	<strong class="underline">Certificates</strong>
	{% for cert in site.data.education %}
		{% if cert.type == 'minor' %}
		<p>
			<em>{{ cert.year }}</em> <strong> {{ cert.title }} </strong><br />{{ cert.inst }}
		</p>
		{% endif %}
	{% endfor %}

	<hr class="blueline" />

	<h3>Work</h3>
	{% for work in site.data.work %}
		<p>
			<em>{{ work.year }}</em> <strong>{{ work.title }}</strong> ({{ work.boss }})<br /><br />
			{{ work.desc }}
		</p>
		{% if forloop.last == false %}
			<hr />
		{% endif %}
	{% endfor %}

	<hr class="blueline" />

	<h3>Awards</h3>

	<div class="half-left">
		{% for award in site.data.awards %}
			{% assign which = forloop.index0 | modulo: 2 %}
				{% if which == 0 %}
				<p>
					<strong>{{ award.title }}</strong>, {{ award.date }}
				</p>
			{% endif %}
		{% endfor %}
	</div>

	<div class="half-right">
		{% for award in site.data.awards %}
			{% assign which = forloop.index0 | modulo: 2 %}
				{% if which == 1 %}
				<p>
					<strong>{{ award.title }}</strong>, {{ award.date }}
				</p>
			{% endif %}
		{% endfor %}
	</div>

	<hr class="blueline" />
	

	<h3>Workshops &amp; Presentations (<a href="http://www.cs.nuim.ie/~ahealy" alt="nuim page">more</a>)</h3>

	{% for type in site.data.workshops-presentations %}
		<p>
			<strong>{{ type[0] }}</strong><br />
			{% for time in type[1] %}
				{{ time.where }} <em>{{ time.when }}</em><br />
			{% endfor %} 
		</p>
	{% endfor %}

	<hr class="blueline" />

	<h3>Selected Exhibitions</h3>

	<div class="half-left">
	{% for exhib in site.data.exhibitions %}
		{% assign which = forloop.index0 | modulo: 2 %}
			{% if which == 0 %}
				<p>
					<strong>{{ exhib.title }}</strong> {{ exhib.venue }},
					<em>{{ exhib.where }}, {{ exhib.when }}</em>
				</p>
			{% endif %}
		{% endfor %}
	</div>

	<div class="half-right">
	{% for exhib in site.data.exhibitions %}
		{% assign which = forloop.index0 | modulo: 2 %}
			{% if which == 1 %}
				<p>
					<strong>{{ exhib.title }}</strong> {{ exhib.venue }},
					<em>{{ exhib.where }}, {{ exhib.when }}</em>
				</p>
			{% endif %}
		{% endfor %}
	</div>
	

</div> <!-- end my-links -->
