---
layout: page_menu
title: Links
position: 4
permalink: /links/
---

<div id="my-links">
<h3>Other places</h3>
<p>I maintain a visual blog at <a href="http://virtualsurface.tumblr.com">virtualsurface.tumblr.com</a> and occasionally post for the technology/craft project <a href="http://lostthreads.tumblr.com">Lost Threads</a>. I have a few video/motion works <a href="https://vimeo.com/user2745589">on Vimeo</a> and the obligitory <a href="https://ie.linkedin.com/in/andrew-healy-86250449">LinkedIn profile</a>. I have a <a href="">GitHub page</a> where the code for some interesting projects (including this website) can be found. My <a href="https://www.cs.nuim.ie/~ahealy/">academic profile</a> details my research activities including presentations and publications.</p> 

<p>I have separate project sites for <a href="http://www.stitch-n-glitch.com">Stitch'n'Glitch</a> and some of my excursions as <a href="http://www.andrewhealy.com/tonia">Tonia Larem</a>.</p>

<h3>Friends</h3>
<p>Below are links to the work of various people/organisations generally working in an art &plus; design direction. I can personally vouch for their character.</p>
</div>
{% assign friends = site.data.friends | sort: 'name' %}

<div class="half-left">
{% for friend in friends %}
	{% assign which = forloop.index0 | modulo: 2 %}
	{% if which == 0 %}
		<a href="{{ friend.url }}">{{ friend.name }}</a>
	{% endif %}
{% endfor %}
</div>
<div class="half-right">
{% for friend in friends %}
	{% assign which = forloop.index0 | modulo: 2 %}
	{% if which == 1 %}
		<a href="{{ friend.url }}">{{ friend.name }}</a>
	{% endif %}
{% endfor %}
</div>
