<div id="fotorama" class="fotorama"
			data-keyboard="true" 
     		data-arrows="true"
     		data-click="true"
     		data-swipe="true"
     		data-trackpad="false"
     		data-loop="true" 
     		data-width="100%"
     		data-ratio="600/400"
     		data-allowfullscreen="true"
               data-transition="slide"
     		data-auto="false">

     {% if include.video %}
          {% for vid in include.video %}
               <iframe src="{{ vid.iframe }}" alt="{{ vid.a }}" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          {% endfor %}
     {% endif %}
     {% if include.images %}
          {% for img in include.images %}
          	{% assign parts = img | split: '#' %}
          	{% capture imgurl %}{{ site.amazon_url }}/{{ page.id }}/medium/{{ parts | first }}{% endcapture %}
               {% capture fullurl %}{{ site.amazon_url }}/{{ page.id }}/full/{{ parts | first }}{% endcapture %}
          	{% if parts.size > 1 %}
          		<img src="{{ imgurl }}" data-caption="{{ parts | last }}" data-full="{{ fullurl }}" />
          	{% else %}
          		<img src="{{ imgurl }}" data-full="{{ fullurl }}"/>
          	{% endif %}
          {% endfor %}
     {% endif %}
</div>