{% assign projects = site.projects | sort: 'title' %}

{% for project in projects %}
  
  {% if forloop.index0 == 0 %}
    {% assign previous = forloop.length %}
  {% else %}
    {% assign previous = forloop.index | minus: 1 %}
  {% endif %}
  
  {% if forloop.index == forloop.length %}
    {% assign next = 1 %}
  {% else %}
    {% assign next = forloop.index | plus: 1 %}
  {% endif %}

  {% capture class_string %}block {{ project.categories | join: ' ' }}{% endcapture %}
  {% if include.active == 'all' %}
  	{% assign blur = false %}
  {% else %}
  	{% assign blur = true %}
  	{% for cat in project.categories %}
  	  {% if cat == include.active %}
  	  	{% assign blur = false %}
  	  	{% break %}
  	  {% endif %}
  	{% endfor %}
  {% endif %}

  <div id="{{ project.id  | remove_first:'/projects'}}" data-pos="{{ forloop.index }}" data-next="{{ next }}" data-prev="{{ previous }}"
  class=  "{% if blur %}{{ class_string | prepend: 'blur ' }}{% else %}{{ class_string }}{% endif %}">
    <a href="{{ project.url }}">
        <span{% if project.long_title %} class="long" {% endif %}>{{ project.title }}</span>
        {% if project.thumb %}
          {% capture thumburl %}{{ site.url }}/img/{{ project.id | remove_first:'/projects' }}/thumb/{{ project.thumb }}{% endcapture %}
          <img src="{{ thumburl }}">
        {% else %}
          <img src="{{ site.baseurl }}img/{{ project.id | remove_first:'/projects'}}/thumb/thumb.jpg">
        {% endif %}
    </a>
  </div>

{% endfor %}

<div id="ajax" class="exterior">
  <i class="fa fa-chevron-left" id="prev-ajax"></i>
  <i class="fa fa-chevron-right" id="next-ajax"></i>
  <i class="fa fa-times" id="close-ajax"></i>

  <div id="fotorama" class="fotorama"
        data-keyboard="true" 
        data-arrows="true"
        data-click="true"
        data-swipe="true"
        data-trackpad="false"
        data-loop="true" 
        data-width="100%"
        data-ratio="600/400"
        data-allowfullscreen="true"
        data-transition="slide"
        data-auto="false"
        data-fit="contain"
        >
  {% for project in site.projects %}

    {% if project.video %}
      {% for vid in project.video %}
          <a class="{{ project.id  | remove_first:'/projects'}}"  data-type="video" href="{{ vid.a }}"></a>
      {% endfor %}    
    {% endif %}

    {% for img in project.images %}
      {% assign parts = img | split: '#' %}
     <!--- {% capture imgurl %}/img/{{ project.id }}/{{ parts | first }}{% endcapture %} -->
     {% capture imgurl %}{{ site.url }}img/{{ project.id  | remove_first:'/projects'}}/medium/{{ parts | first }}{% endcapture %}
     {% capture fullurl %}{{ site.url }}img/{{ project.id  | remove_first:'/projects'}}/full/{{ parts | first }}{% endcapture %}
      {% if parts.size > 1 %}
        <a class="{{ project.id  | remove_first:'/projects'}}"  data-type="image" href="{{ imgurl }}" data-full="{{ fullurl }}" data-caption="{{ parts | last }}"></a>
      {% else %}
        <a class="{{ project.id  | remove_first:'/projects'}}"  data-type="image" href="{{ imgurl }}" data-full="{{ fullurl }}"></a>
      {% endif %}
    {% endfor %}
  
  {% endfor %}

  </div>

  <div id="interior"></div>

</div>

