---
layout: page_menu
---
{% assign projects = site.projects | sort: 'title' %}
{% for project in projects %}
	{% assign indx = forloop.index0 %}
	{% if project.id == page.id %}
		{% break %}
	{% endif %}
{% endfor %}

{% assign size = projects | size %}
{% assign previous = indx | minus: 1 | modulo: size %}
{% assign next = indx | plus: 1 | modulo: size %}

<div class="exterior {{ page.id }}">

     {% include fotorama.html images=page.images video=page.video %}

	<h3>{{ page.title }}</h3>	
	{% for category in page.categories %}
		{% capture src %}/filter/{{ category }}{% endcapture %}
		<a class="cat-button" href="{{ src | prepend: site.baseurl }}">{{ category }}</a>
	{% endfor %}
	<em id="medium">{{ page.medium }}</em>
	
	<div id="description"><p>{{ content }}</p></div>

	<span id="tech">
		<!--Technology-->
		<ul>
		{% for t in page.tech %}
			<li>{{ t }}</li>
		{% endfor %}
		</ul>
	</span>

	<a id="prev" href="{{ projects[previous].url | prepend: site.baseurl }}" title="{{ projects[previous].title }}"><i class="fa fa-angle-left"></i>
 Previous</a>
 <a id="next" href="{{ projects[next].url | prepend: site.baseurl }}" title="{{ projects[next].title }}">Next <i class="fa fa-angle-right"></i></a>
 	

	

</div>